@import "init";
@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Shadows+Into+Light&family=Teko&display=swap');


$dark: #0A0908;
$alert: #CC2936;
$white: #F6F6F6;
$bright: #00A6FB;
$assist: #F3DE8A;

$font-title: 'Teko', sans-serif;
$font-content: 'Open Sans Condensed', sans-serif;
$font-art: 'Shadows Into Light', cursive;


*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 3rem;
    padding: 1rem .5rem;
    color: $bright;
    font-family: $font-content;
}
h2{
    font-size: 1.8rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.4rem;
}
h5, span, p{
    font-size: 1.2rem;
}
button{
    margin: .5rem;
    padding: .5rem;
}
section{
    width: 100%;
    min-height: 100%; 
    @include flexC;
}
li:hover{
    color: $alert;
}
.header{
    @include flexR;
    justify-content: space-between;
    background-color: $white;
    .header_logo{
        @include flexC;
    }

}
.nav{
    padding: 1rem;
    font-family: $font-title;

    .nav-list{
        @include flexR;
    }
    li{
        padding: 1rem;
        font-size: 1.5rem;
    }
    
}

.main{
    width: 100vw;
    background-color: $white;
}


.home{
    @include flexC;
    background-color: $dark;
    position: relative;
    &_video{
        height: 75vh;
    }
    .story{
        @include flexC;
        width: 100%;
        height: 100%;
        position: absolute;
        color: $white;
        background-color: rgba($dark, .8);
        font-family: $font-art;
        font-size: 3rem;
    }
    .story_content{
        padding: auto 3rem;
        text-align: center;
        font-size: 2rem;

    }
}


.about{
    @include flexC;
}

.value{
    @include flexC;
    position: relative;
    width: 100%;
    img{
        max-height: 25rem;
        object-fit: cover;
    }
    .valueContainer{
        @include flexC;
        position: absolute;
        width: 100%;
        height: 100%;

        background-color: rgba($dark, .6);
        font-family: $font-art;
        color: #F3DE8A;
    }

    ul{
        font-size: 2rem;
        text-align: right;

    }

}


.serviceContainer{
    @include flexR;
    justify-content: space-around;
    .serviceItem{
        height: 20rem;
        margin: 1rem;
        position: relative;
        @include flexC;
        overflow: hidden;
    }
    .serviceImgBox{
        background-color: $dark;

    }
    .serviceTextBox{
        position: absolute;
        padding: auto .5rem;
        background-color: rgba($dark, .8);
        h2{
            color: $bright;
        }
        span{
            color: #F3DE8A;
        }
    }

}





.team{
    @include flexC;
    width: 100%;
    .teamContainer{
        @include flexR;
        justify-content: space-around;
    }
    .teamItem{
        height: 25rem;
        margin: 1rem;
        -webkit-box-shadow: 0px 0px 10px 0px $dark; 
        box-shadow: 0px 0px 10px 0px $dark;
        border-radius: 1rem;
        overflow: hidden;
        font-family: $font-content;

    }
    .teamImgBox{
        padding: 0;
        margin: 0;
        height: 75%;
        img{
            height: 100%;
        }
    }
    .teamTextBox{
        @include flexC;
        background-color: rgba($dark, .8);
        padding: 0 .5rem;
        height: 25%;
        text-align: center;
        h2{
            color: $bright;
        }
        span{
            color: #F3DE8A;
        }
    }

}

//main---contact---form------------
.contact{
    @include flexR;
    align-items: flex-start;
}

.question{
    width: 80vw;
    max-width: 500px;
    margin: .5rem;
    border-radius: 1rem;
    background-color: rgba($dark, .5);
}

.questionItem{
    margin-bottom: 1rem;
    padding: .5rem;
    &_content{
        @include flexR;
        justify-content: space-between;
        font-weight: bolder;
    }
    &_btn{
        background: transparent;
    }
}

form{
    @include flexC;
    width: 320px;
    margin: .5rem;
    border-radius: 1rem;

    background-color: rgba($dark, .8);

    input, textarea{
        width: 95%;
        margin: .5rem 0;
        padding: .5rem;
    }
    label{
        color: $assist;
    }
    textarea{
        height: 10rem;
    }
}


//footer------------------
.footer{
    @include flexC;
    width: 100vw;
    padding: 1rem;
    background-color: $white;
    font-family: $font-title;
    span{
        font-size: 2rem;
    }
    .footer_company{
        @include flexR;
        justify-content: center;
        text-align: center;
        >div{
            margin: 1rem 2.5rem;
        }

    }
    img{
        width: 1rem;
    }
}

.snsContainer{
    @include flexR;
    li{
        margin: .5rem 1.5rem;
    }
}